@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: linear-gradient(to top, #2161b4, #a2c4e0);
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#weather-container {
    background-color: rgba(255, 255, 255, 0.3);
    max-width: 25rem;
    padding: 1.25rem;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}

h2, label, p {
    color: #FFF;
    margin: 8px 0;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #FFF;
    margin-top: 20px;
}

button {
    background: #fff;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
    font-weight: 700;
}

button:hover {
    background: rgb(255, 255, 255, 0.8);
}

#temp-div p {
    font-size: 40px;
    font-weight: 600;
    /* border: 1px solid green; */
}

.weather-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-info-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* border: 1px solid red */
}

#weather-info {
    font-size: 20px;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0.3rem auto; 
    margin-bottom: 0;
    padding: 0;
    display: none;
    /* border: 1px solid red; */
}

#forecast-section-header {
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    display: none;
}

#hourly-forecast {
    margin-top: 10px;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

#hourly-forecast::-webkit-scrollbar {
    display: none;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
}

.hourly-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}

@media (max-width: 650px) {
    #weather-container {
        background-color: rgba(255, 255, 255, 0.3);
        width: 80vw;
        margin: auto;
        padding: 0.75rem;
        border-radius: 15px;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        text-align: center;
    }

    #temp-div p {
        font-size: 25px;
        font-weight: 600;
    }

    .weather-info-con {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        /* border: 1px solid red */
    }

    #weather-info {
        font-size: 11px;
    }
}

/* .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
} */